<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}CinemaTips Plateforme{% endblock %}</title>

    {% block stylesheets %}
        {# On charge le CSS de bootstrap depuis le site directement #}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}
</head>

<body>
<div class="container">
    <div id="header" class="jumbotron">
        <h1>Guide Cinématographique révolutionnaire en cours de dev</h1>
    </div>

    <div class="row">
        <div id="menu" class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    Connecté en tant que {{ app.user.username }}
                    -
                    <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Connexion</a>
                    <a href="{{ path('fos_user_registration_register') }}">Inscription</a>

                {% endif %}
                <li><a href="{{ path('ct_core_home') }}">Accueil</a></li>
                <li><a href="{{ path('ct_core_critiques') }}">Critiques</a></li>
                <li><a href="{{ path('ct_core_sonadages') }}">Sondages</a></li>
                <li><a href="{{ path('ct_core_requetes') }}">Requêtes</a></li>
            </ul>
        </div>
        <div id="content" class="col-md-9">
            {% block body %}
            {% endblock %}
        </div>
    </div>

    <hr>

    <footer>
        <p>Terty's no longer limits © {{ 'now'|date('Y') }}.</p>
    </footer>
</div>

{% block javascripts %}
    {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
{% endblock %}

</body>
</html>




<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">CinemaTips</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#">Critiques</a></li>
                <li><a href="#about">Sondages</a></li>
                <li><a href="#contact">Requêtes</a></li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Nom du membre <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Profil</a></li>
                            <li><a href="#">Another action</a></li>
                            <li><a href="#">Something else here</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="{{ path('fos_user_security_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">Connexion</a></li>
                    <li><a href="{{ path('fos_user_registration_register') }}">Inscription</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>