
{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Accueil  - {{ parent() }}
{% endblock %}

{% block ctcore_body %}


    <div id="myCarousel" class="carousel slide container well" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>


            <div class="carousel-inner" role="listbox">
                {% for movie in popularMovies|slice(0,1) %}
                <div class="item active">
                    {{ movie.backdropPath|tmdb_image_html('original', null, 100)|raw }}
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>{{ movie.title }}</h1>
                            <p>{{ movie.overview }}</p>
                            <p><a class="btn btn-lg btn-primary" href="{{ path('ct_core_view', {'id': movie.id}) }}" role="button">Vers la fiche du film</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% for movie in popularMovies|slice(1,9) %}
                <div class="item">
                    {{ movie.backdropPath|tmdb_image_html('original', null, 100)|raw }}
                    <div class="container">
                        <div class="carousel-caption">
                            <h1>{{ movie.title }}</h1>
                            <p>{{ movie.overview }}</p>
                            <p><a class="btn btn-lg btn-primary" href="{{ path('ct_core_view', {'id': movie.id}) }}" role="button">Vers la fiche du film</a></p>
                        </div>
                    </div>
                </div>
                {% endfor %}


            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                <span class="sr-only">Précédent</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                <span class="sr-only">Suivant</span>
            </a>
            </div>
    </div>


    <div class="well container">
        <div class="row">

            <div class="col-lg-4">
                <img class="img-circle center-block" src="{{ asset('bundles/ctcore/img/starrating.jpg') }}" alt="" width="140" height="140">
                <h2>La recherche avancée</h2>
                <p>Des notations avancées pour vous orienter de façon différente d'une simple recherche par titre. En effet, vous avez la possibilité
                    de rechercher les films selon leur niveau d’émotion, violence,
                    complexité, retournement final, originalité et effets spéciaux. Ces critères sont notés par nos chers utilisateurs, nous comptons sur vous pour mettre votre grain de sel !</p>
                <p><a class="btn btn-default" href="#" role="button">A votre recherche avancée ! &raquo;</a></p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle center-block" src="{{ asset('bundles/ctcore/img/critiques.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                <h2>Les critiques</h2>
                <p>Lorsque les votes et les informations sur les films ne suffisent pas, aider vous des critiques emisent par nos utilisateurs.</p>
            </div>
            <div class="col-lg-4">
                <img class="img-circle center-block" src="{{ asset('bundles/ctcore/img/dvdtheque.jpg') }}" alt="Generic placeholder image" width="140" height="140">
                <h2>Le compte Libraire</h2>
                <p> Cet outil va servir au possesseur d'un compte Libraire à optimiser sa vente ou
                    location de DVD. Nous choisissons de mettre en avant des films.
                    La vue d’un affichage avec nos données primaires plus les notes et les critiques
                    va attirer l’attention et surtout donner l’envie.  D’autre part, cet
                    outil va permettre decréer une collection de film. De plus, tous les mois, une liste des meilleurs films du moment et de toujours qui ne sont pas encore dans la collection du Libraire sera proposé.
                </p>
                <p>{% if is_granted("ROLE_LIBRARY") %}
                <a class="btn btn-default" href="#" role="button">Vers votre Panneau Libraire &raquo;</a>
                {% else %}
                 <a class="btn btn-default" href="#" role="button">Comment l'obtenir &raquo;</a>
                 {%  endif %}
                </p>
            </div>
        </div>
    </div>

{% endblock %}