

    {{ form_start(formSearch, {'attr': {'class': 'form-horizontal'}}) }}

    {# Les erreurs générales du formulaire. #}
    {{ form_errors(formSearch) }}


    <li class="input-group mainsearch">
        {{ form_widget(formSearch.title, {'attr': {'class': 'form-control'}, 'attr' : {'placeholder' : 'Recherchez n\'importe quel film ! '}}) }}
        <span class="input-group-btn">
           {{ form_widget(formSearch.save, {'label': 'Go!'} , {'attr': {'class': 'btn btn-success'}}) }}
      </span>
    </li>




    {{ form_rest(formSearch) }}


    {# Fermeture de la balise <form> du formulaire HTML #}

    {{ form_end(formSearch) }}

