{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Film - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

    {% if app.session.flashbag.get('info') is not defined %}
    {% else %}
    <div class="well container">
        {# On affiche tous les messages flash dont le nom est « info » #}
        {% for message in app.session.flashbag.get('info') %}
            <p>Message flash : {{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
    <div class="well container">
        <div class="row">
            <h3>{{ movie.title }} - {{ movie.date|date('Y') }} {{ movie.backdropPath|tmdb_image_html('original', null, 50)|raw }} ({{ movie.originalTitle }})</h3>
            <div class="col-md-8">
                <h4>{% if movie.runTime == null %}N/A{% else %}{{ movie.runTime|minutes_to_iso8601_duration }}{% endif %} - {% for genre in genres %}{{ genre.name }}, {% endfor %}</h4>
                <p>
                    {% if movie.content == null %}
                        Nous n'avons pas encore d'informations en Français pour ce film. Veuillez nous excuser, nous y travaillons !
                    {% else %}
                        {{ movie.content }}
                    {% endif %}
                </p>
                <div class="well well-sm">
                    <h4>Notations</h4>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{ movie.voteAverage }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.voteAverage*10 }}%;">
                            The Movie DB: {{ movie.voteAverage*10 }}%
                        </div>
                    </div>
                    {% if movie.voteCountCT == 0 %}
                        <a href="{{ path('ct_core_edit', {'id': movie.id}) }}"> Ce film n'a pas encore été noté sur CinemaTips, soyez le premier ! </a>
                    {% else %}
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ movie.voteAverageCT }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.voteAverageCT*10 }}%;">
                            CinemaTips : {{ movie.voteAverageCT*10 }}%
                        </div>
                    </div>
                </div>

                <div class="well well-sm ">
                    <h4>Notations avancées</h4>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ movie.originality }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.originality*10 }}%;">
                            Originalité: {{ movie.originality*10 }}%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ movie.specialEffects }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.specialEffects*10 }}%;">
                            Effets spéciaux: {{ movie.specialEffects*10 }}%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ movie.emotion }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.emotion*10 }}%;">
                            Emotions: {{ movie.emotion*10 }}%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ movie.twist }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.twist*10 }}%;">
                            Retournement final: {{ movie.twist*10 }}%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ movie.complexity }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.complexity*10 }}%;">
                            Complexité: {{ movie.complexity*10 }}%
                        </div>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="{{ movie.violence }}" aria-valuemin="0" aria-valuemax="10" style="width: {{ movie.violence*10 }}%;">
                            Violence: {{ movie.violence*10 }}%
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
            <div class="col-md-4">
                <div class="poster">
                {{ movie.posterPath|tmdb_image_html('original', null, 300)|raw }}
                </div>
                <hr />
                <div>
                    <p>
                    <a href="{{ path('ct_core_edit', {'id': movie.id}) }}" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i>
                        Notez le film
                    </a>
                    </p>
                    <p>
                    <a href="{{ path('ct_core_edit', {'id': movie.id}) }}" class="btn btn-success"><i class="glyphicon glyphicon-edit"></i>
                        Ajoutez à votre collection Libraire
                    </a>
                    </p>
                    <p>

                </div>
                </div>
            </div>
        </div>

            <div class="panel panel-success container">
                <div class="panel-heading">Crew</div>
                <div class="panel-body display-flex">
                {% for person in crew %}
                    {% if person.job == 'Director' %}
                        <div class="col-sm-2 col-md-2">
                            <div class="thumbnail">
                                {{ person.profilePath|tmdb_image_html('original', null, 50)|raw }} &nbsp;
                                <div class="caption">
                                    <h4>{{ person.name }}</h4>
                                    <p>{{ person.job }}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                    {% for person in crew|slice(0,5) if person.profilePath %}
                        {% if person.job != 'Director' %}
                            <div class="col-sm-2 col-md-2">
                                <div class="thumbnail">
                                    {{ person.profilePath|tmdb_image_html('original', null, 50)|raw }} &nbsp;
                                    <div class="caption">
                                        <h4>{{ person.name }}</h4>
                                        <p>{{ person.job }}</p>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="panel panel-info container">
                <div class="panel-heading">Cast</div>
                <div class="panel-body display-flex">
                {% for person in cast|slice(0,6) if person.profilePath %}
                    <div class="col-sm-2 col-md-2">
                        <div class="thumbnail">
                            {{ person.profilePath|tmdb_image_html('original', null, 50)|raw }}
                            <div class="caption">
                                <h4>{{ person.name }}</h4>
                                <p>{{ person.character }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
    <div class="well container">
        <div id="fos_comment_thread" data-thread="{{ thread.id }}">

            {% include 'FOSCommentBundle:Thread:comments.html.twig' with {
            'comments': comments,
            'thread': thread
            } %}
        </div>
    </div>
{% endblock %}

