{# src/OC/PlatformBundle/Resources/view/Advert/view.html.twig #}

{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Film - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

    <h2>{{ movie.title }}</h2>
    <i>Par




        , le {{ movie.date|date('d/m/Y') }}</i>
    <div class="well">
        {{ movie.content }}
    </div>

    <p>
        <a href="{{ path('ct_core_home') }}" class="btn btn-default">
            <i class="glyphicon glyphicon-chevron-left"></i>
            Retour à la liste
        </a>
        <a href="{{ path('ct_core_edit', {'id': movie.id}) }}" class="btn btn-default">
            <i class="glyphicon glyphicon-edit"></i>
            Modifier le film
        </a>
        <a href="{{ path('ct_core_delete', {'id': movie.id}) }}" class="btn btn-danger">
            <i class="glyphicon glyphicon-trash"></i>
            Supprimer le film
        </a>
    </p>

{% endblock %}