
{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Liste des Films - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

        <h2>Liste des Films</h2>

        <ul>
            {% for movie in listMovies %}
                <li>
                    <a href="{{ path('ct_core_view', {'id': movie.id}) }}">
                        {{ movie.title }}
                    </a>
                    par {{ movie.author }},
                    le {{ movie.date|date('d/m/Y') }}
                </li>
            {% else %}
                <li>Pas (encore !) de films</li>
            {% endfor %}
        </ul>

{% endblock %}