
{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Liste des Films - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

        <h2>Liste des Films</h2>


    {{ render(controller("CTCoreBundle:Home:movie", {'id' : 118340} )) }}
    {{ render(controller("CTCoreBundle:Home:movie", {'id' : 315837} )) }}
    {{ render(controller("CTCoreBundle:Home:movie", {'id' : 324852} )) }}
    {{ render(controller("CTCoreBundle:Home:movie", {'id' : 157336} )) }}
    {{ render(controller("CTCoreBundle:Home:movie", {'id' : 135397} )) }}

{% endblock %}