
{% extends "CTCoreBundle::layout.html.twig" %}

{% block title %}
    Accueil - {{ parent() }}
{% endblock %}

{% block ctcore_body %}

        <h2>Liste des Films</h2>

        <ul>
            {% for film in listFilms %}
                <li>
                    <a href="{{ path('ct_core_view', {'id': film.id}) }}">
                        {{ film.title }}
                    </a>
                    par {{ film.author }},
                    le {{ film.date|date('d/m/Y') }}
                </li>
            {% else %}
                <li>Pas (encore !) de films</li>
            {% endfor %}
        </ul>

{% endblock %}